# Copy file ini menjadi .env dan isi dengan token GitHub kamu
VITE_GITHUB_TOKEN=ghp_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
VITE_GITHUB_REPO_OWNER=putra456
VITE_GITHUB_REPO_NAME=Database
VITE_GITHUB_FILE_PATH=users.json
VITE_GITHUB_CONFIG_PATH=config.json